##Mencetak Tipe Data
**Praktik 2.4.1**
Cobalah mengetik kode di bawah ini :
``` javascript
#tipe data Boolean
print(True)


#tipe data String
print("Mari belajar Python")
print('Belajar Python Sangat Dengan Mudah')


#tipe data Integer
print(20)


#tipe data Float
print(3.14)


#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])


#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))


#tipe data Dictionary
print({"nama":"Budi", 'umur':20})

#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary
type(biodata) #fungsi untuk mengecek jenis tipe data. akan tampil <class 'dict'>
```

In [2]:
#Jawab Praktik 2.4.1

#tipe data Boolean
print(True)


#tipe data String
print("Mari belajar Python")
print('Belajar Python Sangat Dengan Mudah')


#tipe data Integer
print(20)


#tipe data Float
print(3.14)


#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])


#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))


#tipe data Dictionary
print({"nama":"Budi", 'umur':20})

#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary
type(biodata) #fungsi untuk mengecek jenis tipe data. akan tampil <class 'dict'>

True
Mari belajar Python
Belajar Python Sangat Dengan Mudah
20
3.14
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Budi', 'umur': 20}
{'nama': 'Andi', 'umur': 21}

dict

**Tugas Praktek 3.3**

1.Printing Data type menggunakan Variable.
Ketikan kode di bawah ini pada Code Editor.
``` javascript
var_string="Mari Belajar Python"
var_int=10
var_float=3.14
var_list=[1,2,3,4]
var_tuple=("satu","dua","tiga")
var_dict={"nama":"Ali", 'umur':20}


print(var_string)
print(var_int)
print(var_float)
print(var_list)
print(var_tuple)
print(var_dict)
```

In [1]:
#Jawab Tugas Praktek 3.3 Nomor 1

var_string="Mari Belajar Python"
var_int=10
var_float=3.14
var_list=[1,2,3,4]
var_tuple=("satu","dua","tiga")
var_dict={"nama":"Ali", 'umur':20}


print(var_string)
print(var_int)
print(var_float)
print(var_list)
print(var_tuple)
print(var_dict)

Mari Belajar Python
10
3.14
[1, 2, 3, 4]
('satu', 'dua', 'tiga')
{'nama': 'Ali', 'umur': 20}

2. Tambahkan code di bawah ini untuk mengetahui type data dari suatu value di variabel.
``` javascript
print(type(var_string))
print(type(var_int))
print(type(var_float))
print(type(var_list))
print(type(var_tuple))
print(type(var_dict))
```

In [3]:
#Jawab Tugas Praktek 3.3 Nomor 2

var_string="Mari Belajar Python"
var_int=10
var_float=3.14
var_list=[1,2,3,4]
var_tuple=("satu","dua","tiga")
var_dict={"nama":"Ali", 'umur':20}


print(var_string)
print(var_int)
print(var_float)
print(var_list)
print(var_tuple)
print(var_dict)

print(type(var_string))
print(type(var_int))
print(type(var_float))
print(type(var_list))
print(type(var_tuple))
print(type(var_dict))

Mari Belajar Python
10
3.14
[1, 2, 3, 4]
('satu', 'dua', 'tiga')
{'nama': 'Ali', 'umur': 20}
<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>